################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PQM_v01/.vs/PQM_v01/v15/Server/sqlite3/db.lock
